!!!
%html
	%head
		= render :partial => "layouts/header"
		= yield :stylesheets

		%script{type: "text/javascript", src: "https://use.typekit.com/kns5tgd.js"}
		%script{type: "text/javascript"} try{Typekit.load();}catch(e){}

	%body.alt

		%header
			.header-content
				.logo
				.cleanheap

		#page-body
			.page-content
				= content_for?(:body) ? yield(:body) : yield

		%footer
			.footer-content
				= render :partial => "layouts/footer"
		
		- # -------------------------------------------------------------------------------------------
		- # ALWAYS TRY TO KEEP JAVASCRIPT STUFF AT THE END OF THE DOCUMENT                             
		- # -------------------------------------------------------------------------------------------

		= javascript_include_tag "application" # Rails 3.1
		=# javascript_include_tag "jquery.placeholder.js"
		= #javascript_include_tag "https://www.google.com/jsapi"

		= yield :javascript


		%script{type:"text/javascript"}

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32564608-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

